version: '3.8'

services:
  # 1. Broker MQTT (El cartero de los mensajes)
  mqtt:
    image: eclipse-mosquitto:2
    volumes:
      - ./mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - enose-net

  # 2. Base de Datos Temporal (Para guardar las lecturas de los sensores)
  influxdb:
    image: influxdb:2.7
    volumes:
      - influxdb-data:/var/lib/influxdb2
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminpassword123
      - DOCKER_INFLUXDB_INIT_ORG=enose_org
      - DOCKER_INFLUXDB_INIT_BUCKET=sensor_data
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_TOKEN}
    networks:
      - enose-net

  # 3. Object Storage (Para guardar datasets CSV/JSON crudos - Data Lake)
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # API
      - "9090:9001" # Consola Web
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio-data:/data
    networks:
      - enose-net

  # 4. Servidor de MLflow (Para registrar experimentos y modelos)
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.7.1
    ports:
      - "5000:5000"
    command: mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./mlruns --host 0.0.0.0
    networks:
      - enose-net

  # 5. Tu Servicio de Ingesta (Modificado para guardar en InfluxDB/MinIO)
  ingest-api:
    build: ./services/ingest-api
    depends_on:
      - mqtt
      - influxdb
    environment:
      - MQTT_BROKER=mqtt
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=${INFLUXDB_TOKEN}
    networks:
      - enose-net

  # 6. Tu Servicio de ML (Modificado para leer de MLflow)
  ml-service:
    build: ./services/ml-service
    depends_on:
      - ingest-api
      - mlflow
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    networks:
      - enose-net

  # 7. Simulador
  simulator:
    build: ./simulator
    depends_on:
      - mqtt
      - ingest-api
    environment:
      - MQTT_BROKER=mqtt
      - INGEST_URL=http://ingest-api:8000/ingest
    networks:
      - enose-net

volumes:
  influxdb-data:
  minio-data:


networks:
  enose-net:
    driver: bridge
